/* WelcomePage.css */
.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    /*background-image: url('./v870-tang-36.jpg');*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .welcome-message {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .get-started-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #90EE90;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-started-button:hover {
    background-color: #77dd77;
  }
  
  /* Modal styling */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  